@tailwind base;
@tailwind components;
@tailwind utilities;

#input-box {
  max-width: 50rem;
  width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(#35535b, #294a52);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
}

input.text-input {
  display: block;
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #486560;
  background-color: #daedea;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #07302a;
}

.button {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #338196;
  background-color: #338196;
  color: white;
  cursor: pointer;
}

button.modal-button {
  float: right;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #338196;
  background-color: #338196;
  color: white;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #217086;
  border-color: #217086;
}

#line-text {
  border-bottom: 1px solid gray;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

.group-header {
  border-color: rgb(128, 128, 128);
  border-collapse: collapse;
  box-sizing: border-box;
  color: white;
  display: table-row;
}

input.checkbox-input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #486560;
  background-color: #daedea;
  margin-right: 1rem;
  font-size: 1rem;
  color: #07302a;
}

input[type='text'] {
  width: 100%;
}

/* DATA TABLE CSS */

data-table-common .datatable-search {
  @apply relative overflow-hidden rounded w-100 !ml-0;
}
.data-table-one .datatable-search input {
  @apply h-[46px] w-full rounded border border-stroke bg-transparent px-5 outline-none focus:border-primary dark:border-strokedark dark:bg-meta-4 dark:focus:border-primary;
}
.data-table-common .datatable-selector {
  @apply relative z-20 inline-flex bg-transparent p-0 font-medium text-body dark:text-bodydark outline-none;
}
.data-table-common .datatable-top {
  @apply sm:flex-row-reverse sm:items-center sm:justify-between gap-4 border-b border-stroke py-4.5 px-7.5 dark:border-strokedark flex-col flex sm:gap-x-4 sm:gap-y-0 after:hidden;
}
.data-table-common .datatable-dropdown label {
  @apply inline-flex items-center gap-2.5 font-medium capitalize text-black dark:text-white;
}
.datatable-table .datatable-sorter {
  @apply after:hidden before:hidden;
}
.datatable-table > thead > tr:first-child > th {
  @apply font-medium border-transparent pr-2.5 pt-9 pb-2.5;
}
.data-table-common .datatable-table > tbody > tr > td:first-child,
.data-table-common .datatable-table > thead > tr > th:first-child {
  @apply pl-8;
}
.data-table-common .datatable-table > tbody > tr > td:last-child,
.data-table-common .datatable-table > thead > tr > th:last-child {
  @apply pr-8;
}
.data-table-common .datatable-table > thead > tr:last-child > th {
  @apply !border-b border-stroke dark:border-strokedark pb-6;
}
.data-table-common .datatable-table > thead > tr:last-child > th input {
  @apply h-[34px] w-full rounded border border-stroke bg-transparent px-3 text-sm outline-none focus:border-primary dark:border-strokedark dark:bg-meta-4 dark:focus:border-primary;
}
.data-table-common .datatable-table > tbody > tr {
  @apply hover:bg-primary hover:bg-opacity-5;
}
.data-table-one .datatable-table > tbody > tr > td:first-child {
  @apply text-primary dark:text-white;
}
.data-table-common .datatable-table > tbody > tr > td {
  @apply py-5 border-b border-stroke dark:border-strokedark font-medium;
}
.data-table-one .datatable-bottom {
  @apply sm:flex-row-reverse sm:items-center sm:justify-between gap-4 flex-col flex sm:space-x-4 sm:gap-0 after:hidden py-7 px-8;
}
.data-table-common .datatable-wrapper.no-footer .datatable-container {
  @apply border-none;
}
.data-table-common .datatable-info {
  @apply !m-0 font-medium;
}
.data-table-common .datatable-pagination {
  @apply !m-0;
}
.data-table-common .datatable-pagination a {
  @apply cursor-pointer p-0 font-medium text-body dark:text-bodydark flex h-8 w-8 items-center justify-center rounded hover:bg-primary hover:text-white;
}
.data-table-common .datatable-pagination .datatable-active a {
  @apply bg-primary text-white;
}
.data-table-common .datatable-pagination li.datatable-hidden {
  @apply !visible;
}
.data-table-two .datatable-bottom {
  @apply sm:flex-row sm:items-center sm:justify-between gap-4 flex-col flex sm:space-x-4 sm:gap-0 after:hidden py-7 px-8;
}
.data-table-two .datatable-search input {
  @apply h-11.5 w-full rounded border border-stroke bg-whiter px-5 outline-none focus:border-primary dark:border-strokedark dark:bg-meta-4 dark:focus:border-primary;
}
