@tailwind base;
@tailwind components;
@tailwind utilities;

/* default base styles for specific HTML elements */
@layer base {
  h1 {
    @apply font-public font-extrabold text-title-xxl text-black dark:text-white;
  }
  h2 {
    @apply font-public font-extrabold text-title-xl text-black dark:text-white;
  }
  h3 {
    @apply font-public font-bold text-title-lg text-black dark:text-white;
  }
  h4 {
    @apply font-public font-bold text-title-md text-black dark:text-white;
  }
  h5 {
    @apply font-public font-bold text-title-sm text-black dark:text-white;
  }
  h6 {
    @apply font-public font-bold text-title-xsm text-black dark:text-white;
  }
}

/* typographic styles */
.subtitle1 {
  @apply font-public font-semibold text-text-lg;
}

.subtitle2 {
  @apply font-public font-semibold text-text-sm;
}

.body1 {
  @apply font-public font-normal text-text-lg;
}

.body2 {
  @apply font-public font-normal text-text-sm;
}

.caption {
  @apply font-public font-normal text-text-xsm;
}

.overline {
  @apply font-public font-bold text-text-xsm no-underline uppercase;
}

.pagetitle {
  @apply font-public font-semibold text-text-xl text-black dark:text-white;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url('../../public/assets/icons/calendar.svg');
}
